<li class="clearfix">
  <div class="block-aside">
    <img src="{{thumbnail}}" class="preview" />
  </div>
  <div class="block-main">
    <div class="field">
      <label for="<%= @object_name %>_imagenizations_attributes_{{i}}_image_attributes_alt">
        <%= t('alt', scope: 'activerecord.attributes.refinery/imagenization') %>
      </label>
      <input type="text" name="<%= @object_name %>[imagenizations_attributes][{{i}}][image_attributes][alt]"
        id="<%= @object_name %>_imagenizations_attributes_{{i}}_image_attributes_alt" class="widest alt" value="{{image_alt}}" />
    </div>

    <div class="field">
      <label for="<%= @object_name %>_imagenizations_attributes_{{i}}_image_attributes_caption">
        <%= t('caption', scope: 'activerecord.attributes.refinery/imagenization') %>
      </label>
      <input type="text" name="<%= @object_name %>[imagenizations_attributes][{{i}}][image_attributes][caption]"
        id="<%= @object_name %>_imagenizations_attributes_{{i}}_image_attributes_caption" class="widest caption" value="{{image_caption}}" />
      <input type="hidden" value="{{image_id}}" name="<%= @object_name %>[imagenizations_attributes][{{i}}][image_attributes][id]" class="image-id">
   </div>
    <div>
      <input type="hidden" value="0" name="<%= @object_name %>[imagenizations_attributes][{{i}}][featured]">
      <input type="checkbox" value="1" name="<%= @object_name %>[imagenizations_attributes][{{i}}][featured]" id="<%= @object_name %>_imagenizations_attributes_{{i}}_featured">
      <label for="<%= @object_name %>_imagenizations_attributes_{{i}}_featured" class="stripped">
        <%= t('featured', scope: 'activerecord.attributes.refinery/imagenization') %>
      </label>
      <input type="hidden" value="{{image_id}}" name="<%= @object_name %>[imagenizations_attributes][{{i}}][image_id]" class="image-id" >
      <input type="hidden" value="{{position}}" name="<%= @object_name %>[imagenizations_attributes][{{i}}][position]" class="position" >
      <div class="right-side">
        <input type="button" value="<%= t('.change') %>" class="button change" />
        <a class="button delete" ><%= t('.remove') %></a>
      </div>
    </div>
  </div>
</li>
